# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Virtual environments
venv/
.venv/
env/
venv_8245/
venv_test/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env
*.env

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
